<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css"> 
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <p><%= message %></p>
  <a href="/organiser">Go to Organiser Home Page</a>
  <a href="/attendee">Go to Attendee Home Page</a>
</body>
</html>